person.pkl
Basic_practiceQ.py
Function_on_str.ipynb
Loops in Python.ipynb
NLPApp/
Operator in Python.ipynb
big.txt
demo.json
gitignore
person.pkl
sample.txt
sample1.txt
screenshot1.png
screenshot_copy.png
tempCodeRunnerFile.py